<div class="main-content">
  <img class="campImage" ng-src="camping/images/campgrounds.png">
  <br>
  <br>
  <div class="alert" ng-class="'alert-' + alert.type" role="alert" ng-repeat="alert in alerts">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="onCloseAlert(alert.id)"><span aria-hidden="true">&times;</span></button>
    {{alert.msg}}
  </div>
  <form ng-submit="onSubmitReservation()">
    <div class="form-group">
      <label for="campingReservationEmail">Email</label>
      <input type="email" class="form-control" id="campingReservationEmail" placeholder="Email" required/>
    </div>
    <div class="form-group">
      <label for="campingReservationSiteSelection">Camping Site</label>
      <select class="form-control" id="campingReservationSiteSelection">
        <option value="A-1">
          Madison Junction - 1
        </option>
        <option value="A-2">
          Madison Junction - 2
        </option>
        <option value="A-5">
          Madison Junction - 5
        </option>
        <option value="B-7">
          Lewis Lake -7
        </option>
      </select>
    </div>
    <div class="form-group" moment-picker="ctrl.datepicker" format="YYYY-MM-DD">
      <label for="datetimepicker">From</label>
      <input class="form-control" ng-model="ctrl.datepicker" id="datetimepicker" required="true"/>
    </div>
    <div class="form-group" moment-picker="ctrl.datepicker2" format="YYYY-MM-DD">
      <label for="datetimepicker2">To</label>
      <input class="form-control" ng-model="ctrl.datepicker2" id="datetimepicker2" required="true"/>
    </div>
    <button type="submit" class="btn btn-default">Reserve Site</button>
  </form>

  <div class="campData">
    <h2>Camping Information</h2>
    <ul>
      <li>Be sure to check for opening and closing dates for facilities inside the park.</li>
      <li>Make your reservations early!</li>
      <li>No camping or overnight vehicle parking is allowed in any place other than a designated campground or campsite.</li>
      <li>Campsite occupancy is limited to 6 people per site.</li>
      <li>Camping is limited to 14 days from July 1 through Labor Day (first Monday in September)
        and to 30 days the rest of the year; no limit at Fishing Bridge.</li>
      <li>Drinking water is normally available in all campgrounds with occasional exceptions.</li>
      <li>Campfires, including those in portable wood or propane fire pits, are prohibited in the
        Fishing Bridge RV Park. Wood and charcoal fires are permitted in all other campground locations,
        though special fire restrictions are occasionally put in place when the danger of wildland fires is great.
        If you plan to light a fire in the park, please check the information board at the campground or email
        our Visitor Services Office prior to your visit. Propane grills and stoves are normally not restricted.</li>
      <li>Food storage boxes are available at all of the campsites at Indian Creek, Pebble Creek, Slough Creek,
        Tower Fall, Norris, and Lewis Lake campgrounds. Many campsites in other campgrounds are also equipped with bear-proof storage boxes.</li>
      <li>Fishing Bridge RV Park is the only campground offering water, sewer, and electrical hookups-50 amp service;
        it is for hard-sided vehicles only (no tents or tent-trailers are allowed).</li>
      <li>Learn more about backpacking in the park on our Backcountry Camping and Hiking page.</li>
      <li>For information on camping outside the park, check with the local chamber of commerce for each city on our Nearby Attractions page.</li>
    </ul>
  </div>
</div>
