<nav class="nav">
  <ul>
      <li ><a ng-class="{active: nav.isView(0)}" ng-click="nav.setView(0)" href="#home">Park</a></li>
      <li ><a ng-class="{active: nav.isView(1)}" ng-click="nav.setView(1)" href="#map">Map</a></li>
      <li ><a ng-class="{active: nav.isView(2)}" ng-click="nav.setView(2)" href="#camping">Camping</a></li>
      <li ><a ng-class="{active: nav.isView(3)}" ng-click="nav.setView(3)" href="#nature">Nature Info</a>
      <ul class="nested-ul">
        <li>
          <a  href="#">example</a>
        </li>
        <li>
          <a  href="#">example2</a>
        </li>
      </ul></li>
      <li ng-class="{active: nav.isView(4)}"><a  ng-click="nav.setView(4)"href="#events">Events</a></li>
      <li ng-class="{active: nav.isView(5)}"><a  ng-click="nav.setView(5)"href="#sightings">Sightings</a></li>
  </ul>
  <span id="bottom-content">
    <img class="logo" src="assets/logo.png" />
  </br>
    Mailing Address:
  P.O. Box 168
  Yellowstone National Park, WY 82190-0168
  Phone:
  (307) 344-7381
  Recorded information. For road and weather information, please dial 307-344-2117.
  </span>
</nav>
