<div class="main-content">
<img ng-src="content/camping/campgrounds.png"  />

    <p>
      Email
    </p>
    <input type="text" /></br>
    <p>
      Camping Site
    </p>
    <div class="select-style">
      <select>
      <option value="A-1">
        Madison Junction - 1
      </option>
      <option value="A-2">
        Madison Junction - 2
      </option>
      <option value="A-5">
        Madison Junction - 5
      </option>
      <option value="B-7">
        Lewis Lake -7
      </option>
    </select>
  </div>

  <p>
    From
  </p>
  <input type="text" />
  <p>
    To
  </p>
  <input type="text" />
  <div>
    <INPUT TYPE="button" onClick="history.go(0)" VALUE="Reserve Site">
  </div>
</div>
