
  <nav class="nav">
  <ul>
      <a ng-click="park.setView(0)"><li>Park</li></a>
      <a ng-click="park.setView(1)"><li>Map</li></a>
      <a ng-click="park.setView(2)"><li>Camping</li></a>
      <a ng-click="park.setView(3)"><li>Nature Info</li></a>
      <a ng-click="park.setView(4)"><li>Events</li></a>
  </ul>
</nav>
<!-- -------------------------------------------------------------------------------------------------------------------- -->
<div class="main-content" ng-show="park.isView(0)">
    Park page!
</div>
<!-- -------------------------------------------------------------------------------------------------------------------- -->
<div class="main-content" ng-show="park.isView(1)">
    Map!
</div>
<!-- -------------------------------------------------------------------------------------------------------------------- -->
<div class="main-content" ng-show="park.isView(2)">
    Camping!
</div>
<!-- -------------------------------------------------------------------------------------------------------------------- -->
<div class="main-content" ng-show="park.isView(3)">
    Nature Info!
</div>
<!-- -------------------------------------------------------------------------------------------------------------------- -->
<div class="main-content" ng-show="park.isView(4)">
    Events!
</div>
