<div class="main-content">
    Nature Info!
    <div ng-controller="natureInfoAnimalsController as animalsController">
        <div ng-repeat="animal in animalsController.animals">
          <h1>{{animal.name}}</h1>
          <div ng-repeat="animalImage in animal.images">
            <figure>
              <img ng-src="{{animalImage.url}}" />
              <figcaption>Source: <a href="{{animalImage.src_url}}">{{animalImage.src_url}}</a></figcaption>
            </figure>
          </div>
        </div>
    </div>
</div>
