<div class="main-content">
    <form>
      <p>
        Animal Sighted
      </p>
      <div class="select-style">
        <select>
        <option value="bear">
          Bear
        </option>
        <option value="snake">
          Snake
        </option>
        <option value="bird">
          Bird
        </option>
        <option value="Ryan">
          Ryan
        </option>
      </select>
    </div>

    <p>
      GPS Coordinates of sightingsController
    </p>
    Latitute<input type="text" /></br>
    Longitude <input type="text" />
    <p>
      Time of Sighting
    </p>
    <input type="text" />
    </form>
</div>
