<div class="main-content">
    Report sighting of <button ng-click="sightings.setView(1)">Animal</button>
    <button ng-click="sightings.setView(0)">Plant</button> </br>
    </br>
    </br>
    <form action="./php/upload.php" method="post" enctype="multipart/form-data">
        <div ng-show="sightings.isAnimal()">
            <div class="form-ele">
                <label for="animal">Animal Sighted </label>
                <select name="animal" id="animal" style="margin-left:200px;">
        <option value="bear">
          Bear
        </option>
        <option value="snake">
          Snake
        </option>
        <option value="bird">
          Bird
        </option>
        <option value="rabbit">
          Rabbit
        </option>
      </select>
            </div>


        </div>

        <div ng-show="!sightings.isAnimal()">

            <div class="form-ele">
                <label for="animal">Plant Sighted </label>
                <select name="animal" id="animal" style="margin-left:200px;">
      <option value="tree">
        Tree
      </option>
      <option value="shrubbery">
        Shrubbery
      </option>
      <option value="flower">
        Flower
      </option>
      <option value="bush">
        Bush
      </option>
    </select>
            </div>
        </div>



        <input type="file" name="files[]" id="filer_input" multiple="multiple">

        <div class="form-ele">

            <label for="gps">GPS Coordinates of Sighting </label><input type="text" name="latitude" placeholder="Latitude" style="margin-left:107px;" /> <input type="text" name="longitude" placeholder="Longitude" />
        </div>

        <div class="form-ele">
            <label for="time">Time of Sighting </label><input type="time" name="time" style="margin-left:191px;">
        </div>

        <input type="submit" value="Submit" style="margin-left:30vw;" />
    </form>


</div>
