body{
  background-color: #dfefff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: black;
  overflow: auto;
  margin-top: 20px;
  margin-left: 10px;
}
.main-content{
    margin-left: 325px;
    margin-right: 20px;
}

.specialEvents {
  float: left;
  width: 45%;
}

.regularEvents {
  float:right;
  width: 45%;
}

.eventImage {
  width: 90%;
  height: auto;
}

.natureImage {
  max-width: 75%;
}

.natureData {
  width: 75%;
}
.nested-ul{
  display: none;
  background-color: white;
}
.nav li:hover .nested-ul{
    display: inline-block;
    background-color: white;
    box-shadow: none;
    position: absolute;
    top: 6.8em;
}
.nav{
  margin-right: 1em;
  width: 250px;
  height: 100%;
  float: left;
  text-transform: uppercase;
  color: #999999;
  position: fixed;
  background-color: white;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
  height:auto;
}

#bottom-content{
  color: black;
  border-top: 1px solid #f2f2f2;
  padding: 20px;
}
.logo{
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.nav ul{
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  padding: 10px;
}
.active{
  background-color: white !important;
  font-weight:bold;
  color: #111111 !important;
}
a{
  color: #999;
  text-decoration:none;
}
.nav a:hover{
  color: #999;
}
.nav li{
  list-style-type: none;
  font-size: 14px;
  padding: 1em;
}

.nav li:hover{
  font-weight:bold;
  color: #111111;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .main-content{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 6.5em;
    position: absolute;
    width: 95%;
  }
  .nested-ul{
    top: 3.4em !important;
    left: 10em;
  }
  .nav {
    width: 100%;
    float: none;
  }
  .nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  #bottom-content{
    display: none;
  }
  .nav li {
    float: left;
  }
  .nav li a {
    display: block;
    text-align: center;
    text-decoration: none !important;
  }
}

.side-address-head{
  color:#444444;
  font-weight:bold;
  font-size:18px;
  margin: 20px 0px 0px 0px;
}

.side-address-copy{
  margin:0px;
  text-transform: none;
}

.select-style {
    border: 1px solid #ccc;
    width: 175px;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa url("../assets/dropdown-icon.png") no-repeat 90% 50%;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}

form {
    padding: 15px;
    background-color: white;
    border-color: #ddd;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
}


/* The switch - the box around the slider */
.switch {
  margin-bottom: -.5em;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2196F3;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
