<div class="main-content">
  <h1><b>Landmarks</b></h1>
  <div ng-repeat="landmark in controller.landmarks">
    <h2>{{landmark.name}}</h2>
    <div ng-repeat="image in landmark.images">
      <figure>
        <img class="natureImage" ng-src="{{image.url}}" />
        <figcaption>Source: <a href="{{image.src_url}}">{{image.src_url}}</a></figcaption>
      </figure>
    </div>
    <br>
    <div class="natureData">
      <p>{{landmhark.description}}</p>
      <a ng-href={{landmark.source}}>Learn More</a>
    </div>
  </div>
</div>
