html{
  background-color: #dfefff;
  font-family: 'Roboto', sans-serif;
}

body{
  overflow: auto;
}
.main-content{
  margin-left: 325px;
}
.nested-ul{
  display: none;
  background-color: white;
}
.nav li:hover .nested-ul{
  display:block;
  background-color: white;
  box-shadow:none;
}
.nav{
  margin-right: 1em;
  width: 250px;
  height: 100%;
  float: left;
  text-transform: uppercase;
  color: #999999;
  position: fixed;
  background-color: white;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
  height:auto;
}

#bottom-content{
  color: black;
  border-top: 1px solid #f2f2f2;
  padding: 20px;
}
.logo{
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.nav ul{
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  padding: 10px;
}
.active{
  background-color: white !important;
  font-weight:bold;
  color: #111111 !important;
}
a{
  color: #999;
  text-decoration:none;
}

.nav li{
  list-style-type: none;
  font-size: 14px;
  padding: 1em;
}

.nav li:hover{
  font-weight:bold;
  color: #111111;
  cursor: pointer;
}

.side-address-head{
  color:#444444;
  font-weight:bold;
  font-size:18px;
  margin: 20px 0px 0px 0px;
}

.side-address-copy{
  margin:0px;
  text-transform: none;
}

.select-style {
    border: 1px solid #ccc;
    width: 120px;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa url("../assets/dropdown-icon.png") no-repeat 90% 50%;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}

.form-ele{
  margin-bottom: 30px;
}
